@{
    ViewData["Title"] = "Home Page";
}

<form action="/Home/Chat" method="get">
    <div class="container">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <input type="submit" class="btn btn-success" value="StartChat" />
    </div>
</form>